.showbook {
    padding-top: 40px;
}
.bookstyle {
    background-color: rgb(248, 181, 228);
    margin-top: 4px;
}
.message {
    color: rgb(43, 210, 236);
    background-color: black;
    text-shadow: 3px 0px 7px rgba(17, 231, 106, 0.8), -3px 0px 7px rgba(81, 67, 21, 0.8), 0px 4px 7px rgba(81, 67, 21, 0.8);
}
.bookstyle h2 {
    color: red;
    text-shadow: rgba(255, 255, 255, 0.5) 0px 3px 3px;
}
.bookstyle h2 span {
    color: rgb(124, 128, 0);
    text-decoration: underline;
    padding-left: 3px;
}
.bookstyle h3 span {
    background-color: #053d3d;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: rgba(255, 255, 255, 0.5) 0px 3px 3px;
    padding-left: 4px;
}
.btn {
    color: red;
    background-color: black;
    padding: 4px 10px;
    font-size: 25px;
    margin-left: 5px;
    margin-bottom: 10px;
    border-radius: 5px;
    cursor: pointer;
}
.input {
    background: transparent;
    border: none;
    border-bottom: 2px dashed #83a4c5;
    width: 25%;
    outline: none;
    padding: 0px 0px 0px 0px;
    font-size: 20px;
    color: rgb(16, 196, 216);
    font-style: italic;
}
.addbook {
    padding-top: 50px;
}
@media only screen and (max-width: 780px) {
    .input {
        width: 85%;
    }
}
